<library path="src">
  <class name="BeaverSimGUI" 
         type="beaversim.gui.BeaverSimGUI" 
         base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying the beaver.
    </description>
    <qtgui>
      <label>Bag</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for displaying and replaying ROS bag files.</statustip>
    </qtgui>
  </class>
</library>
